	#content {
		
	}
	#header {
		background:url(../images/header.jpg) top no-repeat;
		-moz-background-size: 100% 100%; 
		-webkit-background-size: 100% 100%; 
		-o-background-size: 100% 100%;
		background-size: 100% 100%;
		position:relative;
	}
	#header .header-sepa { 
		background:url(../images/header-sepa.png) left repeat-x;
		position:absolute;
		left:0;
		bottom:0;
		right:0;
		height:46px;
	}
	.no-slider #header .header-sepa { 
		background-image:url(../images/header-sepa-no-slider.png);
		height:15px;
	}
	.no-slider #header { 
		min-height:210px;
	}
	#content .container {
	}
	#logo {
		position:absolute;
	}
	.menusearch {
		width:260px;
		top:90px;
		position:absolute;
		right:0;
	}
	/*------------------------------ MENU ------------------------------*/
	#secondarymenu-container {
		height:125px;
		position:relative;
		z-index:1200;
	}
	
	
	#secondarymenu {
		float:right;
		height:88px;
	}
	#secondarymenu a {
		padding:0 9px;
		height:88px;
		line-height:88px;
		color:#1b1b1b;
		font-size:13px;
		text-transform:lowercase;
		font-family:'opensanssemibold';
	}
	#secondarymenu a:hover{
		text-decoration:underline;
	}
	#header-block {
		position:relative;
	}
	
	#mainmenu-container {
		height:37px;
		z-index:1000;
		max-width:1000px;
		width:100%;
		position:relative;
	}
	#mainmenu { 
		float:left;
		background:url(../images/mainmenu.png) left repeat-x;
		border:1px solid #4cabda;
		border-radius:19px;
		-moz-border-radius:19px;
		-webkit-border-radius:19px;
		box-shadow:0 3px 2px #4d7f98 inset;
	}
	#mainmenu li a {
		height:37px;
		line-height:37px;
		padding:0 15px;
		text-shadow:1px -1px 0 #80b3ce;
		font-family:'opensanssemibold';
		font-size:12px;
		color:#1b1b1b;
	}
	#mainmenu li:first-child a { 
		border-radius:19px 0 0 19px;
		-moz-border-radius:19px 0 0 19px;
		-webkit-border-radius:19px 0 0 19px;
	}
	#mainmenu li:last-child a { 
		border-radius:0 19px 19px 0;
		-moz-border-radius:0 19px 19px 0;
		-webkit-border-radius:0 19px 19px 0;
	}
	#mainmenu li {
		position:relative;
	}
	#mainmenu li a:hover{
		background:url(../images/mainmenu-hover.png) left repeat-x;
		border-right:1px solid #4499c3;
		padding:0 14px;
		border-left:1px solid #4499c3;
		text-decoration:underline;
	}


	#header li ul {	top:57px; }
	#header #mainmenu li ul { top:51px; }
	
	#header li ul .transparent {	}
	#header li ul .inner { background:#55c0f4;border:1px solid #347797; padding:0; }
	#header #mainmenu li ul .transparent {	}
	#header #mainmenu li ul .inner {	}
	
	#header ul.children li, #header .sub-menu li { height:auto !important; }
	#header ul.children li a, #header .sub-menu li a {
		color:#1b1b1b; 
		height:auto !important;
		padding:5px 20px;
		border:none !Important;
		text-align:left;
		text-transform:lowercase;
		font-family:'opensansregular' !important;
	}
	#header ul.children li a:hover, #header .sub-menu li a:hover {
		color:#1b1b1b !important;
	}
	
	#header #mainmenu ul.children li a, #header #mainmenu .sub-menu li a {
		background:url(../images/mainsub-a.png) 10px center no-repeat;
		color:#1b1b1b !important;
		text-transform:none;
		padding-left:25px !Important;
		font-family:'opensansregular' !important;
	}
	#header #mainmenu ul.children li a:hover, #header #mainmenu .sub-menu li a:hover {		
		background:url(../images/mainsub-a-hover.png) 9px center no-repeat;
	}
	
	/*------------------------------ SLIDER ------------------------------*/
	.slider-container {	
		width:1000px;
		height:670px;
		margin:-65px auto 40px;
	}
	.slider {
		position:absolute;
	}
	.fp-next { 
		margin-right:180px !Important;
	}
	.fp-prev { 
		margin-left:305px !Important;
	}
	.fp-next, .fp-prev {
		margin:240px 0;
		width:40px !important;
		height:78px !important;
	}
	.fp-title { 
		border-bottom:1px dotted #fff;
		margin-bottom:20px;
	}
	.fp-title a{
		font-size:40px;
		color:#fff;
		font-family:'damionregular';
		text-decoration:none;
	}
	
	.fp-prev-next-wrap {
		margin:0 0px;
		z-index:9999;
	}
	.slider-nothumb .fp-slides, .slider-nothumb .fp-thumbnail, .slider-nothumb .fp-slides-items {
		height:188px;
	}
	.fp-slides,.fp-thumbnail { 
		overflow:visible;
	}
	.fp-slides,.fp-thumbnail,.fp-slides-items  {
		height:670px;
		width:1000px;
		background:url(../images/slider-back.png) right top no-repeat;
		z-index:999;
		position:relative;
	}
	.fp-thumbnail img {
		border:3px solid #59c8ff;
		border-radius:300px;
		-moz-border-radius:300px;
		-webkit-border-radius:300px;
		float:right;
		margin-right:159px;
	}
	.fp-content-fon {
		border:none;
		-moz-opacity: 1;
		opacity: 1;
		-ms-filter:"progid:DXImageTransform.Microsoft.Alpha"(Opacity=100);
		height:349px;
		width:349px;
		left:22px;
		bottom:-40px;
		background:url(../images/fp-fon.png) center no-repeat;
	}
	.fp-content { 
		left:42px;
		right:674px;
		height:227px;
		bottom:-10px;
		text-align:left;
		font-size:13px;
	}
	.fp-content p { 
		font-family:'opensansitalic';
		font-size:15px;
	}
	.fp-more {
		background:#59c8ff;
		width:85px;
		display:block;
		border:1px solid #479eca;
		height:28px;
		line-height:28px;
		text-align:center;
		color:#fff !Important;
		text-decoration:none;
		text-transform:lowercase;
		margin:25px auto 0;
		position:relative;
		z-index:999;
	}
	.fp-nav {
		right:30px;
		bottom:30px;
		left:auto;
	}
	.slider-nothumb .fp-content-fon {
		background:#fff;
	}
	.slider-nothumb .fp-content a,.slider-nothumb .fp-content p{
		color:#000;
	}
	
	#footer .footer_txt  {
		margin:0 auto;
		padding-left:0;
		padding:20px 0;
	}
	#footer .footer_txt .container { padding-left:20px; }
	
	